vendor/*
*/cache/*
*/logs/*
app/cache/.gitkeep
app/logs/.gitkeep
.rsync_cache/
web/bundles/*
web/tmp/*
web/downloads/*
web/uploads/*
web/media/*
web/maps/*
web/css/*
web/js/*
web/assetic/*
web/ef-assets
*.php~
/.idea
web/app_dev.php
web/app_dev_shm.php
web/app_test_shm.php
web/app_test.php
/bin
/app/config/parameters.yml
/app/config/assets_version.yml
/app/bootstrap*
/app/sessions
/app/phpunit.xml
build/*/repo
app/SymfonyRequirements.php
.htaccess
phpdoc*

behat.yml
config/build

composer.phar


